@import "./variables.css";

body {
  font-family: var(--font-family);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

section {
  margin-bottom: var(--spacing-l);
  padding: var(--spacing-m);
}

h1 {
  font-size: var(--font-size-xxl);
}
h2 {
  font-size: var(--font-size-xl);
}
h3 {
  font-size: var(--font-size-l);
}
h4 {
  font-size: var(--font-size-m);
}
h5 {
  font-size: var(--font-size-s);
}
h6 {
  font-size: var(--font-size-xs);
}

/* Classes */

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1) /* Transparent background */
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
