@import "../../styles/variables.css";

.scheme-form-container {
  padding: var(--spacing-xl);
  width: var(--container-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.scheme-form-title {
  font-size: var(--font-size-l);
  margin-bottom: var(--spacing-m);
  text-align: center;
}

.scheme-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.scheme-form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.scheme-submit-button {
  background-color: var(--primary-color);
  color: white;
  padding: var(--spacing-s) var(--spacing-m);
  border: none;
  border-radius: var(--border-radius-s);
  cursor: pointer;
  transition: background-color 0.3s;
}

.scheme-submit-button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.scheme-submit-button:enabled:hover {
  background-color: #4caf50;
}

.scheme-submit-button:disabled:hover {
  background-color: #d3d3d3;
}

.scheme-form-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: var(--spacing-m);
}

.scheme-form-field label {
  font-size: var(--font-size-s);
  color: var(--text-color);
}

.scheme-form-field .error {
  color: var(--error-color);
  font-size: var(--font-size-xs);
  margin-top: var(--spacing-xs);
}

.scheme-form-field .helper-text {
  color: var(--text-color);
  font-size: var(--font-size-xs);
  margin-top: var(--spacing-xs);
}
